@tailwind components;

@layer components {
    .dropdown {
        @apply relative;

        &>&-menu {
            --width: 20rem;
            --bg: theme('colors.white');
            --radius: theme('borderRadius.sm');
            --top: 100%;
            --right: auto;
            top: var(--top, initial);
            right: var(--right, initial);
            left: var(--left, initial);
            bottom: var(--bottom, initial);
            width: var(--width);
            background: var(--bg);
            @apply absolute border border-neutral-100 shadow-xl p-2 py-4 rounded hidden z-10;

            &[data-state="open"] {
                @apply block;
            }
        }
    }
}