@tailwind components;

@layer components {
  @mixin button() {
    --btn-bg: var(--color-transparent);
    --btn-color: var(--color-primary-600);
    --btn-border-color: var(--color-transparent);
    --btn-height-sm: 24px;
    --btn-height-md: 32px;
    --btn-height-lg: 40px;
    --btn-height-xl: 48px;
    --btn-height:var(--btn-height-sm);

    --btn-radius: theme('borderRadius.DEFAULT');
    --btn-padding: theme('padding.1') theme('padding.3');
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    padding: var(--btn-padding);
    height: var(--btn-height);
    border-radius: var(--btn-radius);
    @apply transition-all text-xs focus:outline-1 inline-flex place-content-center place-items-center gap-1;
    @apply hover:shadow-md;

    &:hover {
      --btn-bg: var(--color-primary-200);
      --btn-color: var(--color-primary-400);
    }

    &:where(&:active, &.active, &:focus) {
      --btn-bg: var(--color-primary-200);
    }

    &:disabled {
      @apply opacity-30 pointer-events-none;
    }

  }

  // .btn mixin 

  .btn {
    @include button();

    &.primary {
      --btn-bg: var(--color-primary-700);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-primary-500);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-primary-900);
      }
    }

    // .primary style end 

    &.action {
      --btn-bg: var(--color-action-400);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-action-300);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-action-600);
      }
    }

    // .btn.action end 

    &.action-success {
      --btn-bg: var(--color-success-500);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-success-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-success-900);
      }

    }

    // .btn.action-success end 
    &.action-warning {
      --btn-bg: var(--color-attention-500);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-attention-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-attention-900);
      }

    }

    // .btn.action-warning end 

    &.action-danger {

      --btn-bg: var(--color-error-500);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-error-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-error-900);
      }


    }

    // .btn.action-danger end 


    &.danger {
      --btn-color: var(--color-error-500);

      &:hover {
        --btn-bg: var(--color-error-100);
        --btn-color: var(--color-error-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-error-100);
        --btn-color: var(--color-error-900);
      }

    }

    // .btn.danger end 

    &.success {
      --btn-color: var(--color-success-500);

      &:hover {
        --btn-bg: var(--color-success-100);
        --btn-color: var(--color-success-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-success-100);
        --btn-color: var(--color-success-900);
      }

    }

    // .btn.success end 
    &.warning {
      --btn-color: var(--color-attention-500);

      &:hover {
        --btn-bg: var(--color-attention-100);
        --btn-color: var(--color-attention-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-attention-100);
        --btn-color: var(--color-attention-900);
      }

    }

    // .btn.warning
    // &.link {
    &[class*='link'] {
      --btn-color: var(--color-primary-600);
      --btn-bg: var(--color-transparent);
      --btn-height: initial;

      &:hover {
        --btn-color: var(--color-primary-400);
        --btn-border-color: var(--color-primary-400);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-primary-600);
        --btn-border-color: var(--color-primary-400);
      }

      @apply shadow-none border-b rounded-none p-1 py-0;

    }

    // .btn.link end 

    &.link-danger {
      --btn-color: var(--color-error-500);

      &:hover {
        --btn-color: var(--color-error-900);
        --btn-border-color: var(--color-error-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-error-900);
        --btn-border-color: var(--color-error-900);
      }

    }

    // .btn.link-danger end 

    &.link-success {

      --btn-color: var(--color-success-500);

      &:hover {
        --btn-color: var(--color-success-900);
        --btn-border-color: var(--color-success-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-success-900);
        --btn-border-color: var(--color-success-900);
      }


    }

    &.link-warning {

      --btn-color: var(--color-attention-500);

      &:hover {
        --btn-color: var(--color-attention-900);
        --btn-border-color: var(--color-attention-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-attention-900);
        --btn-border-color: var(--color-attention-900);
      }


    }

    // &.xs {
    //   @apply text-xs;

    //   &:not([class*='link']) {
    //     --btn-height: var(--btn-height-sm);
    //   }
    // }

    &.md {
      &:not([class*='link']) {
        --btn-height: var(--btn-height-md);
      }
    }

    &.lg {
      @apply text-base;

      &:not([class*='link']) {
        --btn-height: var(--btn-height-lg);
      }
    }

    &.xl {
      @apply text-lg;
      &:not([class*='link']) {
        --btn-height: var(--btn-height-xl);
      }
    }

    &.icon {
      --btn-padding: 0rem;
      @apply aspect-square w-fit min-w-[1.6667em] place-content-center place-items-center;
      padding: var(--btn-padding);
    }

    &.round {
      --btn-radius: theme('borderRadius.full');
    }

  }

  // .button end 


}