@tailwind components;

@layer components {
  @mixin button() {
    --btn-bg: var(--color-transparent);
    --btn-color: var(--color-primary-600);
    --btn-border-color: var(--color-transparent);
    --btn-height-sm: theme('height[6]'); // 24px;
    --btn-height-md: theme('height[8]'); // 32px;
    --btn-height-lg: theme('height[10]'); // 40px;
    --btn-height-xl: theme('height[12]'); // 48px;
    --btn-height-default: var(--btn-height-lg);
    --btn-height: var(--btn-height-default);
    --btn-fs-sm: theme('fontSize.xs');
    --btn-fs-md: theme('fontSize.xs');
    --btn-fs-lg: theme('fontSize.base');
    --btn-fs-xl: theme('fontSize.lg');
    --btn-fs-default: theme('fontSize.base');
    --btn-fs: var(--btn-fs-default);
    --btn-radius: theme('borderRadius.DEFAULT');
    --btn-padding: theme('padding.1') theme('padding.3');
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    padding: var(--btn-padding);
    height: var(--btn-height);
    border-radius: var(--btn-radius);
    font-size: var(--btn-fs);
    @apply transition-all focus:outline-1 inline-flex place-content-center place-items-center gap-1;
    @apply hover:shadow-md;

    &:hover {
      --btn-bg: var(--color-primary-200);
      --btn-color: var(--color-primary-400);
    }

    &:where(&:active, &.active, &:focus) {
      --btn-bg: var(--color-primary-200);
    }

    &:disabled,
    &.disabled {
      @apply opacity-30 pointer-events-none;
    }

  }

  @mixin btn-size($size: 'lg') {
    @if $size==sm {
      --btn-fs: var(--btn-fs-sm);

      &:not([class*='link']) {
        --btn-height: var(--btn-height-sm);
      }
    }

    @if $size==md {
      --btn-fs: var(--btn-fs-md);

      &:not([class*='link']) {
        --btn-height: var(--btn-height-md);
      }
    }

    @if $size==lg {
      --btn-fs: var(--btn-fs-lg);

      &:not([class*='link']) {
        --btn-height: var(--btn-height-lg);
      }
    }

    @if $size==xl {
      --btn-fs: var(--btn-fs-xl);

      &:not([class*='link']) {
        --btn-height: var(--btn-height-xl);
      }
    }


  }

  // .btn mixin 

  .btn {
    @include button();

    &-group {
      &.sm {
        :where(.btn) {
          @include btn-size(sm);
        }
      }

      &.md {
        :where(.btn) {
          @include btn-size(md);
        }
      }

      &.lg {
        :where(.btn) {
          @include btn-size(lg);
        }
      }

      &.xl {
        :where(.btn) {
          @include btn-size(xl);
        }
      }

      &.round {
        :where(.btn) {
          --btn-radius: theme('borderRadius.full');
        }
      }

      --gap: 0;
      gap: var(--gap);
      @apply inline-flex items-center w-fit;

      :where(.btn:not(:last-child):not(.dropdown-toggle)) {
        @apply rounded-r-none;
      }

      :where(.btn:not(:first-child)) {
        @apply rounded-l-none;
      }
    }

    // .btn-group end 
    &.primary {
      --btn-bg: var(--color-primary-700);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-primary-500);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-primary-900);
      }
    }

    // .primary style end 

    &.action {
      --btn-bg: var(--color-action-400);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-action-300);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-action-600);
      }
    }

    // .btn.action end 

    &.action-success {
      --btn-bg: var(--color-success-500);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-success-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-success-900);
      }

    }

    // .btn.action-success end 
    &.action-warning {
      --btn-bg: var(--color-attention-500);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-attention-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-attention-900);
      }

    }

    // .btn.action-warning end 

    &.action-danger {

      --btn-bg: var(--color-error-500);
      --btn-color: var(--color-white);

      &:hover {
        --btn-bg: var(--color-error-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-error-900);
      }


    }

    // .btn.action-danger end 


    &.danger {
      --btn-color: var(--color-error-500);

      &:hover {
        --btn-bg: var(--color-error-100);
        --btn-color: var(--color-error-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-error-100);
        --btn-color: var(--color-error-900);
      }

    }

    // .btn.danger end 

    &.success {
      --btn-color: var(--color-success-500);

      &:hover {
        --btn-bg: var(--color-success-100);
        --btn-color: var(--color-success-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-success-100);
        --btn-color: var(--color-success-900);
      }

    }

    // .btn.success end 
    &.warning {
      --btn-color: var(--color-attention-500);

      &:hover {
        --btn-bg: var(--color-attention-100);
        --btn-color: var(--color-attention-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-bg: var(--color-attention-100);
        --btn-color: var(--color-attention-900);
      }

    }

    // .btn.warning
    // &.link {
    &[class*='link'] {
      --btn-color: var(--color-primary-600);
      --btn-bg: var(--color-transparent);
      --btn-height: initial;

      &:hover {
        --btn-color: var(--color-primary-400);
        --btn-border-color: var(--color-primary-400);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-primary-600);
        --btn-border-color: var(--color-primary-400);
      }

      @apply shadow-none border-b rounded-none p-1 py-0;

    }

    // .btn.link end 

    &.link-danger {
      --btn-color: var(--color-error-500);

      &:hover {
        --btn-color: var(--color-error-900);
        --btn-border-color: var(--color-error-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-error-900);
        --btn-border-color: var(--color-error-900);
      }

    }

    // .btn.link-danger end 

    &.link-success {

      --btn-color: var(--color-success-500);

      &:hover {
        --btn-color: var(--color-success-900);
        --btn-border-color: var(--color-success-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-success-900);
        --btn-border-color: var(--color-success-900);
      }


    }

    &.link-warning {

      --btn-color: var(--color-attention-500);

      &:hover {
        --btn-color: var(--color-attention-900);
        --btn-border-color: var(--color-attention-900);
      }

      &:where(&:active, &.active, &:focus),
      &[data-dropdown='open'] {
        --btn-color: var(--color-attention-900);
        --btn-border-color: var(--color-attention-900);
      }
    }

    &.sm {
      @include btn-size(sm);
    }

    &.md {
      @include btn-size(md);
    }

    &.lg {
      @include btn-size(lg);

    }

    &.xl {
      @include btn-size(xl);
    }

    &.icon {
      --btn-padding: 0rem;
      @apply aspect-square w-fit min-w-[1.6667em] place-content-center place-items-center;
      padding: var(--btn-padding);
    }

    &.round {
      --btn-radius: theme('borderRadius.full');
    }

    &.split {
      aspect-ratio: 1/1.2;
    }

  }


  // .button end 


}