
// THis file is just for demo
// font face 
@layer base {
:root {
  --color-primary-100: theme(colors.primary.100);
  --color-primary-200: theme(colors.primary.200);
  --color-primary-300: theme(colors.primary.300);
  --color-primary-400: theme(colors.primary.400);
  --color-primary-500: theme(colors.primary.500);
  --color-primary-600: theme(colors.primary.600);
  --color-primary-700: theme(colors.primary.700);
  --color-primary-800: theme(colors.primary.800);
  --color-primary-900: theme(colors.primary.900);
  --color-primary-tint-100: theme(colors.primary.tint.100);
  --color-primary-tint-200: theme(colors.primary.tint.200);
  --color-primary-tint-500: theme(colors.primary.tint.500);
  --color-primary-tint-600: theme(colors.primary.tint.600);
  --color-secondary-100: theme(colors.secondary.100);
  --color-secondary-200: theme(colors.secondary.200);
  --color-secondary-300: theme(colors.secondary.300);
  --color-secondary-400: theme(colors.secondary.400);
  --color-secondary-500: theme(colors.secondary.500);
  --color-secondary-600: theme(colors.secondary.600);
  --color-secondary-700: theme(colors.secondary.700);
  --color-secondary-tint-200: theme(colors.secondary.tint.200);
  --color-secondary-tint-500: theme(colors.secondary.tint.500);
  --color-action-100: theme(colors.action.100);
  --color-action-200: theme(colors.action.200);
  --color-action-300: theme(colors.action.300);
  --color-action-400: theme(colors.action.400);
  --color-action-500: theme(colors.action.500);
  --color-action-600: theme(colors.action.600);
  --color-action-700: theme(colors.action.700);
  --color-success-100: theme(colors.success.100);
  --color-success-200: theme(colors.success.200);
  --color-success-500: theme(colors.success.500);
  --color-success-900: theme(colors.success.900);
  --color-attention-100: theme(colors.attention.100);
  --color-attention-500: theme(colors.attention.500);
  --color-attention-900: theme(colors.attention.900);
  --color-error-100: theme(colors.error.100);
  --color-error-500: theme(colors.error.500);
  --color-error-900: theme(colors.error.900);
  --color-neutrals-100: theme(colors.neutrals.100);
  --color-neutrals-200: theme(colors.neutrals.200);
  --color-neutrals-300: theme(colors.neutrals.300);
  --color-neutrals-400: theme(colors.neutrals.400);
  --color-neutrals-500: theme(colors.neutrals.500);
  --color-neutrals-900: theme(colors.neutrals.900);
  --color-neutrals-white-150: theme(colors.neutrals.white.150);
  --color-neutrals-white-300: theme(colors.neutrals.white.300);
  --color-neutrals-white-600: theme(colors.neutrals.white.600);
  --color-neutrals-white-850: theme(colors.neutrals.white.850);
  --color-neutrals-white-900: theme(colors.neutrals.white.900);
  --color-white: theme(colors.white);
  --color-border-default: theme('borderColor.neutral.300');
  --color-border: var(--color-border-default);
  --color-transparent: theme(colors.transparent);
  --space: theme(space.4);
  --header-index: theme(zIndex.10);
}

}