@use './styles/reset' as *;
@use './styles/utilities/utilities-dir' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
@layer base {
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-neutral-700;
}

svg {
    fill: currentColor;
    aspect-ratio: 1 / 1;
    height: 1em;
    width: 1em;
}

}